<style>
body{background-color: #ffffff}
.header {
    background-color: rgb(25, 211, 218);
    margin: 960px 100px;
}
.site-copyright {
    font-family: 'Arial';
    font-size: 10px;
    color: rgb(104, 101, 101);
    text-align: center
}
.site-heading-1 {
    font-family: 'Georgia';
    font-size: 32px;
    color: whitesmoke;
    text-align: left
}

.site-link-1 {
    font-family: 'Arial';
    font-size: 12px;
    color: rgb(104, 101, 101);

}

.site-link-2 {
    font-family: 'Arial';
    font-size: 12px;
    color: rgb(104, 101, 101);

}

.site-link-3 {
    font-family: 'Arial';
    font-size: 12px;
    color: rgb(104, 101, 101);

}

.heading-2 {
    font-family: 'Georgia';
    font-size: 30px;
    color: rgb(15, 163, 138);
    text-align: left
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: rgb(104, 101, 101);
    text-align: justify
}

.heading-3 {
    font-family: 'Georgia';
    font-size: 28px;
    color: rgb(15, 163, 138);
    text-align: right
}

.heading-4 {
    font-family: 'Georgia';
    font-size: 24px;
    color: whitesmoke;
    text-align: left
}

.heading-5 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgb(104, 101, 101);
    text-align: left
}

.Example {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: rgb(192, 186, 186)
}
</style>